<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ the_title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<nav></nav>
    {% block body %}

    {% endblock %}
    <footer></footer>
</body>
</html>